<div class="border filter">
  <div>
    <b>Filters: </b>
    <button (click)="clearAll()">Clear All</button>
  </div>
</div>
  <div class="border stocklist">
    <div *ngIf="stockList$ | async as stockList">
      <div *ngIf="!stockList"><app-loading></app-loading></div>
      <div *ngIf="stockList.length == 0" class="list-empty">
        No stocks in the list
      </div>
      <div *ngFor="let stock of stockList">
        <app-stock-thumbnail [stock]="stock"></app-stock-thumbnail>
      </div>
    </div>
  </div>
