<div class="monthly-body">
  <div class="monthly-data">
    <ul>
      <li>{{ monthlySentiment?.monthLabel | uppercase }}</li>
      <li *ngIf="monthlySentiment?.change > 0">
        Change: +{{ monthlySentiment?.change }}
      </li>
      <li *ngIf="monthlySentiment?.change < 0">
        Change: {{ monthlySentiment?.change }}
      </li>
      <li>MSPR: {{ monthlySentiment?.mspr }}</li>
    </ul>
  </div>
  <div class="monthly-trend">
    <app-trend-arrow [trend]="monthlySentiment?.change"></app-trend-arrow>
  </div>
</div>
