<div class="border stock-thumbnail">
  <div class="thumbnail-header">
    <div class="thumbnail-title" [routerLink]="['/sentiment', stock.symbol]">
      <img
        *ngIf="stock.logo"
        src="{{ stock.logo }}"
        alt="{{ stock.name }}"
        width="50"
      />
      <h3>{{ stock.name | uppercase }}</h3>
    </div>
    <span (click)="clear()">xXx</span>
  </div>
  <div class="thumbnail-body">
    <div class="thumbnail-data">
      <ul>
        <li>Change today: {{ stock.changeToday }}%</li>
        <li>Open price: {{ stock.openPrice | currency: 'USD' }}</li>
        <li>Current price: {{ stock.currentPrice | currency: 'USD' }}</li>
        <li>High price: {{ stock.highPrice | currency: 'USD' }}</li>
      </ul>
    </div>
    <div class="thumbnail-trend" [ngStyle]="getTrendStyle()">
      <span *ngIf="stock.changeToday > 0">⇧</span>
      <span *ngIf="stock.changeToday == 0">=</span>
      <span *ngIf="stock.changeToday < 0">⇩</span>
    </div>
  </div>
</div>
