.stock-thumbnail {
  display: flex;
  flex-direction: column;
}
.thumbnail-header,
.thumbnail-title,
.thumbnail-body {
  display: flex;
  flex-direction: row;
}
.thumbnail-header {
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}
.thumbnail-title {
  align-items: center;
  gap: 20px;
}
.thumbnail-title:hover,
.thumbnail-delete:hover {
  cursor: pointer;
}
.thumbnail-body {
  justify-content: space-around;
  padding-top: 15px;
}
.thumbnail-data > ul > li {
  margin: 5px;
}
.thumbnail-delete {
  width: 25px;
  height: 25px;
}
