<div *ngIf="sentiment" class="border">
  <div class="sentiment-header">
    <img
      *ngIf="sentiment.logo"
      src="{{ sentiment.logo }}"
      alt="{{ sentiment.name }}"
      width="50"
    />
    <h3>{{ sentiment.name | uppercase }}</h3>
  </div>
  <div class="sentiment-body">
    <div *ngIf="sentiment.monthlySentiment">
      <div
        *ngFor="let monthlySentiment of sentiment.monthlySentiment"
        class="sentiment-monthly"
      >
        <app-monthly-sentiment
          [monthlySentiment]="monthlySentiment"
        ></app-monthly-sentiment>
      </div>
    </div>
  </div>
</div>
<nav>
  <a [routerLink]="['/stocks']" class="button">< Back to list of stocks</a>
</nav>
