.stock-sentiment {
  display: flex;
  flex-direction: column;
}
.sentiment-header,
.sentiment-body, .sentiment-monthly {
  display: flex;
  flex-direction: row;
}
.sentiment-header {
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}
.sentiment-body {
  justify-content: center;
  padding-top: 15px;
}
.sentiment-no-monthly {
 color: red; 
}
.sentiment-monthly{
  justify-content: space-evenly;
}