<div *ngIf="sentiment" class="border">
  <div class="thumbnail-header">
    <div class="thumbnail-title">
      <img
        *ngIf="sentiment.logo"
        src="{{ sentiment.logo }}"
        alt="{{ sentiment.name }}"
        width="50"
      />
      <h3>{{ sentiment.name | uppercase }}</h3>
    </div>
  </div>
  <div class="thumbnail-body">
    <div *ngIf="sentiment.monthlySentiment">
      <div *ngFor="let monthlySentiment of sentiment.monthlySentiment">
        <app-monthly-sentiment
          [monthlySentiment]="monthlySentiment"
        ></app-monthly-sentiment>
      </div>
    </div>
  </div>
</div>
<nav>
  <a [routerLink]="['/stocks']" class="button">< Back to list of stocks</a>
</nav>
